
<iframe id="home_cal" src="https://calendar.google.com/calendar/embed?
					mode=AGENDA&amp;
					showPrint=0&amp;
					showTitle=0&amp;
					showTabs=0&amp;
					showDate=0&amp;
					showNav=0&amp;
					showCalendars=0&amp;
					showTz=0&amp;
					wkst=1&amp;
					bgcolor=%23FFFFFF&amp;
					src=ji34r7qou7vk2k2kuo40fhije8%40group.calendar.google.com&amp;
					color=%23B1365F&amp;
					ctz=America%2FLos_Angeles" style=" border-width:0 " width="340" height="150" frameborder="0" scrolling="no"></iframe>

